<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
        <key>UIAppFonts</key>
        <array>
            <string>DMSans-Bold.ttf</string>
            <string>DMSans-BoldItalic.ttf</string>
            <string>DMSans-Italic.ttf</string>
            <string>DMSans-Medium.ttf</string>
            <string>DMSans-MediumItalic.ttf</string>
            <string>DMSans-Regular.ttf</string>
            <string>OpenSans-Bold.ttf</string>
            <string>OpenSans-BoldItalic.ttf</string>
            <string>OpenSans-ExtraBold.ttf</string>
            <string>OpenSans-ExtraBoldItalic.ttf</string>
            <string>OpenSans-Italic.ttf</string>
            <string>OpenSans-Light.ttf</string>
            <string>OpenSans-LightItalic.ttf</string>
            <string>OpenSans-Regular.ttf</string>
            <string>OpenSans-SemiBold.ttf</string>
            <string>OpenSans-SemiBoldItalic.ttf</string>
            <string>MuseoSans-900.otf</string>
            <string>Campton-BookItalic.ttf</string>
            <string>Campton-LightItalic.ttf</string>
            <string>Campton-Light.ttf</string>
            <string>Campton-Medium.ttf</string>
            <string>Campton-Bold.otf</string>
            <string>Campton-Book.ttf</string>
            <string>SourceHanSansCN-Bold.ttf</string>
            <string>SourceHanSansCN-ExtraLight.ttf</string>
            <string>SourceHanSansCN-Heavy.ttf</string>
            <string>SourceHanSansCN-Light.ttf</string>
            <string>SourceHanSansCN-Medium.ttf</string>
            <string>SourceHanSansCN-Normal.ttf</string>
            <string>SourceHanSansCN-Regular.ttf</string>
            <string>BeVietnamPro-Black.ttf</string>
            <string>BeVietnamPro-BlackItalic.ttf</string>
            <string>BeVietnamPro-Bold.ttf</string>
            <string>BeVietnamPro-BoldItalic.ttf</string>
            <string>BeVietnamPro-ExtraBold.ttf</string>
            <string>BeVietnamPro-ExtraBoldItalic.ttf</string>
            <string>BeVietnamPro-ExtraLight.ttf</string>
            <string>BeVietnamPro-ExtraLightItalic.ttf</string>
            <string>BeVietnamPro-Italic.ttf</string>
            <string>BeVietnamPro-Light.ttf</string>
            <string>BeVietnamPro-LightItalic.ttf</string>
            <string>BeVietnamPro-Medium.ttf</string>
            <string>BeVietnamPro-MediumItalic.ttf</string>
            <string>BeVietnamPro-Regular.ttf</string>
            <string>BeVietnamPro-SemiBold.ttf</string>
            <string>BeVietnamPro-SemiBoldItalic.ttf</string>
            <string>BeVietnamPro-Thin.ttf</string>
            <string>BeVietnamPro-ThinItalic.ttf</string>
        </array>
	</dict>
</plist>
